.inside-root-container {
  height: 40em;
  display: flex;
  background-color: #b5f08c;
  flex-direction: column;
}

.top-input-container{
  flex-grow: 6;
  flex-basis: 0;
  border-radius: 20px;
  background-color: #b4fc5c;
}

.grid-container{
  flex-grow: 34;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  background-color: #c5f5a3;
}

.grid-area{
  width: 73.4em;
  height: 32.8em;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  /* border: 1px solid pink; */
}

.item{
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  width: 1.5em;
  height: 1.5em;
  
}

.editorSelector {
  font-size: 1em;
  font-weight: bolder;
}

.editorSelector button{
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em;
  margin: 1em;
  margin-top: 0.5em;
}

.start-button {
  display: inline;
  margin: 5px;
  padding: 7px;
  margin-left: 10px;
  border-radius: 4px;
  font-weight: bold;
  background-color: coral;
}

.algo-select-form{
  margin: 2px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding: 3px;
}

.pushButton {
  border-radius: 5px;
}

